<!DOCTYPE html>
<html>

<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
<h1>What's your secret?
  <a href="http://localhost" style="padding-left: 5px; color: aqua; font-size: 10px">Refresh</a></h1>
  <% if(locals.content){ %>
  <div class="card">
    <p>
      <%= content.secret %>
    </p>
  </div>
  <p class="user">
    <%= content.username %>
  </p>
<%}%>
</body>

</html>